*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

body {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.wrapperCenter {
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
  width: 500px;
}

.wrapperLeft {
  float: left;
  padding-left: 50px ;
}

.wrapperRight {
  float: right;
  padding-right: 50px ;
}

button, #startButton {
  background-color: rgb(90, 26, 192);
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(89, 26, 192, 0.15) 0 0 0 0 inset;
  color: #fff;
  cursor: pointer;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 1em;
  font-weight: 700;
  justify-content: center;
  line-height: 0;
  margin: 2px;
  padding: 12px;
  width: auto;
}

button:hover, #startButton:hover {
  background-color: rgba(102, 28, 221, 0.918);
}

#selectButton {
  display: flex;
  flex-direction: column; 
  /* width: fit-content; */
  /* vertical-align: right; */
}

#footer {
  border-top: rgb(136, 135, 135);
  color: rgb(136, 135, 135);
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: .85em;
  font-style: italic;
  font-weight: 700;
  justify-content: left;
  text-align: left;
}
